{% extends "registration/base_auth_form.html" %}
{% load i18n %}

{% block auth_title %}{% translate "Set New Password" %}{% endblock %}
{% block auth_heading_mb %}mb-3{% endblock %}
{% block auth_heading %}{% translate "Set a New Password" %}{% endblock %}

{% block auth_subtext %}
        <p class="text-center text-muted mb-4">{% translate "Please enter your new password below." %}</p>
{% endblock %}

{% block auth_fields %}
          {% include "registration/_form_field.html" with field=form.new_password1 %}
          {% include "registration/_form_field.html" with field=form.new_password2 %}
{% endblock %}

{% block auth_submit %}{% translate "Reset Password" %}{% endblock %}

{% block auth_extra %}
        <div class="text-center mt-3">
          <a href="{% url 'login' %}" class="btn btn-outline-secondary">{% translate "Back to Login" %}</a>
        </div>
{% endblock %}
